# python==3.9.21
# torch==1.12.1
# torchvision==0.13.1
numpy==1.24.4
opencv-python==4.11.0.86
tqdm==4.67.1
visdom==0.1.8.9
matplotlib==3.9.4
scikit-image==0.24.0
pyyaml==6.0
six==1.17.0
torch-fidelity==0.3.0
pytorch-fid==0.2.1
natsort==8.1.0